body {
	background-image: url("../img/popcorn.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

.commande {
	color: #ffffff;
	box-shadow: 5px 3px 2px grey;
}