#content {
	min-height: 600px;
	min-width: 700px;
}

#movie {
	width: 422px;
}

#movie-cover {
	height: 600px;
}

#acheter {
	font-size: 24px;
}

#description {
	min-width: 590px;
}

h1 {
	font-size: 24px;
}